<div class="principal-div">
    <div class="navbar-div">
        <div class="user-div">
            <img class="user-image" src="/assets/user.png" alt="user image">
            <div class="user-name">Name Surname</div>
        </div>
        <nav class="nav-options">
            <ul>
                <li><span class="material-symbols-outlined">credit_card</span>Expenses</li>
                <li><span class="material-symbols-outlined">settings</span>Settings</li>
                <li><span class="material-symbols-outlined">help</span>Support</li>
                <li><span class="material-symbols-outlined">person</span>Profile</li>
            </ul>
        </nav>
        <div class="logout"><span class="material-symbols-outlined">logout</span>Logout</div>
    </div>
    <div class="expenses-div">Expenses</div>
</div>
