<div class="principal-div">
    <div class="navbar-div">
        <div class="user-div">
            <img class="user-image" src="/assets/user.png" alt="user image">
            <div class="user-name">{{email}}</div>
        </div>
        <nav class="nav-options">
            <ul>
                <li><span class="material-symbols-outlined">credit_card</span>Expenses</li>
                <li><span class="material-symbols-outlined">settings</span>Settings</li>
                <li><span class="material-symbols-outlined">help</span>Support</li>
                <li><span class="material-symbols-outlined">person</span>Profile</li>
            </ul>
        </nav>
        <div class="logout" (click)="logout()"><span class="material-symbols-outlined">logout</span>Logout</div>
    </div>
    <div class="main-content-div">
        <div class="expenses-section">
            <div class="search-div">
                <form class="search-form" [formGroup]="searchNameForm" (ngSubmit)="searchByName()">
                    <span class="material-symbols-outlined">search</span>
                    <input class="search-input" type="text" name="search" formControlName="search" placeholder="Search expenses..."/>
                </form>
            </div>
            <div class="expenses-options">
                <div class="add-expense">
                    <button routerLink="/add-expense" class="add-button" type="button"><span class="material-symbols-outlined">add_card</span>Add new expense</button>
                </div>
                <form class="date-filter" [formGroup]="filterDateForm" (ngSubmit)="filterByDateRange()">
                    <label for="startDate">From:</label>
                    <input type="date" name="startDate" formControlName="startDate">

                    <label for="endDate">to:</label>
                    <input type="date" name="endDate" formControlName="endDate">

                    <button class="filter-button" type="submit"><span class="material-symbols-outlined">filter_alt</span></button>
                </form>
            </div>
            <div class="fixed-date-filters">
                <button class="filter-button" (click)="lastDaysExpenses(7)">Last week</button>
                <button class="filter-button" (click)="lastDaysExpenses(30)">Last month</button>
                <button class="filter-button" (click)="lastDaysExpenses(90)">Last 3 months</button>
            </div>
            <div class="expenses-list">
                <table class="table">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Value (€)</th>
                        <th>Created At</th>
                        <th>Type</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let expense of expenses">
                        <td>{{ expense.id }}</td>
                        <td>{{ expense.name }}</td>
                        <td>{{ expense.value }}</td>
                        <td>{{ expense.createdAt }}</td>
                        <td>{{ expense.expenseType }}</td>
                        <td>
                            <button class="action-button" [routerLink]="['/update-expense', expense.id]" id="edit-button"><span class="material-symbols-outlined">edit_square</span></button>
                            <button (click)="openDeleteDialog(expense.id)" class="action-button" id="delete-button"><span class="material-symbols-outlined">delete</span></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
        <div class="graphs-section">

        </div>
    </div>
</div>
